/* --------- Only Visible in the Less File --------- */
/* -------------------- Mix-ins -------------------- */
/* ------------------- Variables ------------------- */
/*- Testing -*/
/*-- Fonts --*/
/*-- Colors --*/
/*- Text -*/
/*- Backgrounds -*/
/* ------------------- Body CSS ------------------- */
* {
  margin: 0;
}
html,
body {
  margin: 0px;
}
p {
  padding: 0px 10px;
}
.if-img-pad {
  margin-top: 10px;
  margin-bottom: 10px;
}
.if-majorHeader {
  display: block;
  font-size: 36px;
  text-align: center;
  border-bottom: 2px solid #000000;
  padding-top: 25px;
  margin-top: 0px;
}
.if-majorHeader2 {
  display: block;
  font-size: 36px;
  text-align: center;
  border-bottom: 2px solid #000000;
  padding-top: 25px;
  margin-top: 50px;
}
.if-img-pad {
  padding-top: 5px;
  padding-bottom: 5px;
}
.if-layer0 {
  position: relative;
  z-index: 51;
}
.if-layer1 {
  position: relative;
  z-index: 50;
  color: #000000;
  background-color: #66b3ff;
  min-height: 200px;
}
.if-layer2 {
  position: relative;
  z-index: 49;
  color: #000000;
  background-color: #80c0ff;
  min-height: 200px;
}
.if-layer3 {
  position: relative;
  z-index: 48;
  color: #000000;
  background-color: #99ccff;
  min-height: 200px;
}
.if-layer4 {
  position: relative;
  z-index: 47;
  color: #000000;
  background-color: #b3d9ff;
  min-height: 200px;
}
.if-footer {
  position: relative;
  z-index: 51;
  color: #cccccc;
  background-color: #001a33;
  min-height: 100px;
}
.if-footer p {
  padding-top: 40px;
}
.skillBox {
  margin-top: 20px;
  margin-bottom: 20px;
}
