/* --------- Only Visible in the Less File --------- */
/* -------------------- Mix-ins -------------------- */

/* ------------------- Variables ------------------- */

/* ------------------- Header CSS ------------------- */

.if-header{
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: white;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
}
.if-headingText{
  padding: 30px 0 30px;
  color: white;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .header {
    padding-bottom: 6rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .if-header {
    padding: 6rem 0 5rem;
  }
  .if-headingText{

    h1{
     font-size: 55px;
    }

  }

}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .if-header {
    padding: 9rem 0;
  }
  .if-headingText{

    h1{
     font-size: 55px;
    }

  }
}